.parent {
    width: 100%;
    background-color: blueviolet;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 50px;
    /* align-items: center; */
    /* align-content: flex-end; */
}

.child {
    width: 400px;
    height: 400px;
    background-color: orangered;
    border: 5px solid white;
    /* flex-grow: 2; */
}
