<nav>
    <div class="logo">
        <!-- Added the official Restaurantista website logo -->
        <a href="#"><h1>Restaurantista</h1></a>
    </div>
    <div class="nav-links">
        <ul>
            <li><a id="home-link" href="index.html">Home</a></li>
            <li><a id="menu-link" href="menu.html">Menu</a></li>
        </ul>
    </div>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

<link rel="stylesheet" href="templates/header-template.css" />
